MONGODB_URI=
MONGODB_MIN_POOL_SIZE=
MONGODB_MAX_POOL_SIZE=
MONGO_HOST=
MONGO_PORT=
MONGO_USER=
MONGO_DATABASE=

PORT=
HOST=

JWKS_URL=
JWT_ISSUER=
JWT_AUDIENCE=

# Elasticsearch Configuration
ELASTICSEARCH_NODE=
ELASTICSEARCH_INDEX=
ELASTICSEARCH_USERNAME=
ELASTICSEARCH_PASSWORD=